body {
  margin: 0;
  height: 100vh;
  background: #f2f2f2;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  opacity: 0.6;
}
